body {
  background-image: url("img/sky.webp");
}
:root {
  box-sizing: border-box;
}
h1 {
  font-family: algerian;
  text-align: center;
  color: blue;
  font-size: 50px;
}
h2 {
  font-family: weddingText Bt;
  text-align: center;
  font-size: 40px;
  margin-top: -50px;
  margin-bottom: 0px;
}
#board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: blue;
  border: 3px solid black;
  border-radius: 5px;
  width: 770px;
  max-height: 320px;
  /* min-width: 801px;; */
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-left: 120px;
  margin-top: 0px;
  transform: rotate(180deg);
}

.column {
  background-color: white;
  border: black solid 2px;
  height: 300px;
  width: 51px;
 
}

#player1 {
  display: flex;
  border: 1px solid black;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: red;
  color: white;
}

#player2 {
  border: 1px solid red;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: black;
  color: white;
}

.newdisc1 {
  border: 1px solid black;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: red;
  color: white;

  animation-name: falling;
  animation-duration: 2s;
}

.newdisc2 {
  border: 1px solid red;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: black;
  color: white;
  animation-name: falling;
  animation-duration: 2s;
}
@keyframes falling {
  from {
    opacity: 0;
    transform: translateY(+400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#message {
  position: absolute;
  width: 50px;
  height: 45px;
  text-align: center;
  font-family: vineta BT;
  font-size: 25px;
  color: red;
  margin-top: -660px;
  margin-left: 130px;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  -webkit-animation-duration: 0.5s;
}
#message2 {
  position: absolute;

  width: 50px;
  height: 45px;
  text-align: center;
  color: white;
  font-family: vineta BT;
  font-size: 25px;
  color: black;
  margin-top: -660px;
  margin-left: 725px;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  -webkit-animation-duration: 0.5s;
}
#notice {
  position: absolute;
  width: 50px;
  height: 45px;
  text-align: center;
  font-family: vineta BT;
  font-size: 29px;
  color: red;
  margin-top: -5px;
  margin-left: 136px;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  -webkit-animation-duration: 0.5s;
  transform: rotate(180deg);
  tab-size: -1;
}
#notice2 {
  position: absolute;
  width: 50px;
  height: 45px;
  text-align: center;
  font-family: vineta BT;
  font-size: 29px;
  color: black;
  margin-top: -5px;
  margin-left: 710px;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  -webkit-animation-duration: 0.5s;
  transform: rotate(180deg);
  tab-size: 0.2;
}
#table {
  margin-top: 20px;
  display: flex; 
  /* border:2px solid red; */
  width: 1000px;
  margin-left: 30px;
  height: 190px;
  padding-left: 75px;
}
p {
  position: absolute;
  font-family: vineta Bt;
  color: blue;
  margin-left: 300px;
  margin-top: -70px;
  font-size: 30px;
}
#imoji {
  position: absolute;
  margin-left: 150px;
  margin-top: -300px;
  background-image: url(img/emoji.png);
  background-repeat: no-repeat;
  background-position: left;
}
#reset {
  position: absolute;
  margin-left: -820px;
  margin-top: -400px;
  color: red;
  transform: rotate(180 deg);
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#mike {
  position: absolute;
  margin-top: -100px;
}
#holder {
  display: flex;
  position: absolute;
  width: 200px;
  height: 150px;
  /* border: 1px solid black; */
  margin-top: -150px;
  margin-left: 100px;
  justify-content: center;
}
#holder2 {
  display: flex;
  align-items: center;
  width: 200px;
  height: 150px;
  /* border: 1px solid black; */
  margin-top: -155px;
  margin-left: 720px;
}
 
/* #holder3 { 
  display: flex;
  position: absolute;
  width: 200px;
  height: 150px; 
  border: 1px solid black; */
 /* margin-left: 30px;  */
   
/* }  */
 /* #holder4 { 
  display: flex; 
  position: absolute;
  width: 200px;
  height: 150px; 
  border: 1px solid black; */
  /* margin-left: 170px;  */
  
/* } */
/* #holder5 {
  display: flex; 
  position: absolute;
  width: 200px;
  height: 150px;
  border: 1px solid black;  */
  /* margin-left: 290px;  */
  
/* } */
/* #holder6 {
  display: flex; 
  position: absolute;
  width: 200px;
  height: 150px;
  border: 1px solid black; */
  /* margin-left: 420px;  */
  
/* }
#holder7 {
  display: flex; 
  position: absolute;
  width: 200px;
  height: 150px;
  border: 1px solid black;  */
   /* margin-left: 580px;  */
  
/* }
#holder8 {
  display: flex; 
  position: absolute;
  width: 200px;
  height: 150px;
  border: 1px solid black; */
  /* margin-left: 730px;  */
  
/* }  */
#distinBox {
  position: absolute;
  width: 120px;
  height: 640px;
  border: 1px solid black;
  margin-top: -450px; 
  background-color: black;
}
#box {
  display: flex;
  position: absolute;
  width: 175px;
  height: 150px;
  margin-top: -155px;
  margin-left: 720px;
  /* background-color: red;  */
}
#box2 {
  display: flex;
  position: absolute;
  width: 175px;
  height: 150px;
  margin-top: -155px;
  margin-left: 130px;
  /* background-color: red; */
}
#jennifer {
  position: absolute;
  margin-top: -570px;
}
#shelly {
  position: absolute;
  margin-top: -490px;
}
#martin {
  position: absolute;
  margin-top: -410px;
}

#jacob {
  position: absolute;
  margin-top: -330px;
}
#p2 {
  margin-left: -170px;
  transform: rotate(90deg);
  margin-top: -470px;
}
#distineBox2 {
  background-color: black;
  width: 1100px;
  height: 100px;
  margin-top: -40px;
}
h3 {
  color: white;
  margin-left: 950px;
  font-family: weddingText Bt;
}

.box3 {
  display: flex;
  position: absolute;
  width: 180px;
  height: 700px;
  background-color: black;
  margin-top: -125px;
  margin-left: 915px;
  /* border: 4px solid blue; */
  font-family: weddingText Bt;
  font-size: 20px;
  color: white;
  padding: 10px;
}
#champ {
  position: absolute;
  font-family: weddingText BT;
  font-size: 40px;
  transform: rotate(180deg);
  margin-top: 100px;
  margin-left: 0px;
  color: gold;
}
#chall {
  position: absolute;
  font-family: weddingText BT;
  font-size: 40px;
  transform: rotate(180deg);
  margin-top: 100px;
  margin-left: 600px;
  text-align: center;
  color: gold;
}
